<h2>
  <b>{{ section }}</b>
</h2>
<br>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h5>COMIDAS</h5>
      </div>
      <div class="body table-responsive">
        <table id="mainTable" class="table table-striped">
          <thead>
            <tr>
              <th>EMPLEADO</th>
              <th>MOTIVO</th>
              <th>DETALLE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IVAN TADEO HUERTA</td>
              <td>RETARDO</td>
              <td>
                <button type="button" class="btn bg-blue m-l-15 waves-effect waves-brown waves-ripple btn-circle">
                  <i class="material-icons">
                    description
                  </i>
                </button>
              </td>
            </tr>
            <tr>
              <td>IVAN TADEO HUERTA</td>
              <td>RETARDO</td>
              <td>
                <button type="button" class="btn bg-blue m-l-15 waves-effect waves-brown waves-ripple btn-circle">
                  <i class="material-icons">
                    description
                  </i>
                </button>
              </td>
            </tr>
            <tr>
              <td>IVAN TADEO HUERTA</td>
              <td>RETARDO</td>
              <td>
                <button type="button" class="btn bg-blue m-l-15 waves-effect waves-brown waves-ripple btn-circle">
                  <i class="material-icons">
                    description
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>