<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading && status_message">
  <h3>{{ status_message }}</h3>
  <p>Por favor, intenta más tarde</p>
</div>
<div *ngIf="!loading && !status_message">
  <h2>
    <b>{{ section }}</b>
  </h2>
  <br>
  <div class="row clearfix">
    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h5> BUSCAR QUINCENA</h5>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-3">
                <select class="form-control" formControlName='anio' [(ngModel)]="params.anio">
                  <option value="">-- AÑO --</option>
                  <option *ngFor="let anio of anios" [value]="anio.id_anio"> {{ anio.anio }}</option>
                </select>
                <small *ngIf="form.controls.anio.errors?.required && (form.controls.anio?.touched || submitted)"
                  class="form-text text-muted text-validator-error">
                  Seleccione
                </small>
              </div>
              <div class="col-sm-3">
                <select class="form-control" formControlName='mes' [(ngModel)]="params.mes">
                  <option value="">-- MES --</option>
                  <option *ngFor="let mes of meses" [value]="mes.id_mes">{{ mes.mes_descripcion }}</option>
                </select>
                <small *ngIf="form.controls.mes.errors?.required && (form.controls.mes?.touched || submitted)"
                  class="form-text text-muted text-validator-error">
                  Seleccione
                </small>
              </div>
              <div class="col-sm-3">
                <select class="form-control" formControlName='quincena' [(ngModel)]="params.quincena">
                  <option value="">-- QUINCENA --</option>
                  <option value="1">PRIMERA</option>
                  <option value="2">SEGUNDA</option>
                </select>
                <small *ngIf="form.controls.quincena.errors?.required && (form.controls.quincena?.touched || submitted)"
                  class="form-text text-muted text-validator-error">
                  Seleccione
                </small>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn bg-lime m-l-15 waves-effect waves-brown waves-ripple">
                  <i class="material-icons">
                    search
                  </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row clearfix" *ngIf="busqueda && registros.length ==  0 ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2><b>NO HAY REGISTROS PARA LA QUINCENA SELECCIONADA</b></h2>
    </div>
  </div>
  <div class="row clearfix" *ngIf="busqueda && registros.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card"  [@status_animation]="status_animation">
        <div class="header">
          <h5>HORARIO LABORAL</h5>
          <ul class="header-dropdown m-r--5">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#" (click)="openModalGrafica($event)">VER GRAFICA</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="body table-responsive">
          <table id="mainTable" class="table table-striped">
            <thead>
              <tr>
                <th>FECHA</th>
                <th>HORA ENTRADA</th>
                <th>VALIDACIÓN</th>
                <th>HORA SALIDA</th>
                <th>VALIDACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registro of registros"
                [ngClass]="{'retardo':(registro[3] == 'RETARDO' || registro[3] == 'JUSTIFICACIÓN NO APROBADA' ), 'falta': (registro[3] == 'FALTA' || registro[3] == 'FALTA NO JUSTIFICADA')}">
                <td>{{ registro[1] | date: 'fullDate' : 'es-MX'}}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="2">
                    DTO. POR RETARDOS Y FALTAS: {{ descuento_retardos }}
                </th>
                <th></th>
                <th><strong>TOTAL RETARDOS: {{ total_retardos }}</strong></th>
                <th><strong>TOTAL FALTAS: {{ total_faltas }}</strong></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix" *ngIf="busqueda && registros_comidas.length ==  0 ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2><b>SIN REGISTROS DE COMIDAS </b></h2>
    </div>
  </div>
  <div class="row clearfix" *ngIf="busqueda && registros_comidas.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card"  [@status_animation]="status_animation">
        <div class="header">
          <h5>COMIDAS</h5>
        </div>
        <div class="body table-responsive">
          <table id="mainTable" class="table table-striped">
            <thead>
              <tr>
                <th>FECHA</th>
                <th>HORA SALIDA</th>
                <th>HORA REGRESO</th>
                <th>TIEMPO</th>
                <th>VALIDACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registro of registros_comidas">
                <td>{{ registro[0]  | date: 'fullDate' : 'es-MX' }}</td>
                <td>{{ registro[1] }} </td>
                <td>{{ registro[2] }} </td>
                <td>{{ registro[3] }} </td>
                <td>{{ registro[4] }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalGrafica" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        </div>
        <div class="modal-body">
          <div id="divGrafica" style="width:100%; height:400px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeModal()">CERRAR</button>
        </div>
      </div>
    </div>
  </div>
</div>