<div class="text-center margin-card-top">
  <div class="card">
    <div class="body">
      <form id="sign_in" [formGroup]="formLogin" class="col s12" (ngSubmit)="login()" autocomplete="off">
        <img src="assets/images/img-login.png" alt="">
        <div class="msg">
          <b>SISTEMA INTERNO</b>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
          <div class="form-line">
            <input type="text" class="form-control" placeholder="USERNAME" id='usuario' formControlName='usuario'
              (ngModelChange)="resetMensaje()" [(ngModel)]='usuario.usuario' autofocus>
          </div>
          <small
            *ngIf="formLogin.controls.usuario.errors?.required && (formLogin.controls.usuario?.touched || submitted)"
            class="form-text text-muted text-validator-error">
            Ingrese usuario
          </small>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock</i>
          </span>
          <div class="form-line">
            <input type="password" class="form-control" placeholder="PASSWORD" id='contrasenia'
              formControlName='contrasenia' (ngModelChange)="resetMensaje()" [(ngModel)]='usuario.contrasenia'>
          </div>
          <small *ngIf="formLogin.controls.contrasenia.errors?.required && (formLogin.controls.contrasenia?.touched || submitted)"
          class="form-text text-muted text-validator-error">
          Ingrese contraseña
          </small>
        </div>
        <div class="row">
          <div class="col-xs-6 p-t-5">
            <input type="checkbox" id="rememberme" class="filled-in chk-col-blue" (click)="rememberMe($event)" [checked]="remember">
            <label for="rememberme">RECORDAR</label>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-block bg-blue  waves-effect" type="submit"
              [disabled]='disabled'>{{ !disabled ? 'INICIAR SESIÓN' : 'PROCESANDO'}}</button>
          </div>
        </div>
        <div class="row m-t-15 m-b--20">
          <div class="col-xs-12 align-right">
            <a href="forgot-password.html">Olvidaste tu contraseña?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>