.small-name-quincena{
    padding-top: 20px;
    display: table-row-group;
    color: #f5f5f5;
}


tbody>tr {
    cursor: pointer;
    transition-duration: 800ms;
}

tbody>tr:hover {
    cursor: pointer;
    background-color: #c5e1a5;
    font-weight: bold;
    transition-duration: 800ms;
}

.header-color{
    background-color: #A8C04D;
}

.card .header .header-dropdown i{
    color: white;
}

.header h5.title{
    color: white;
}
