<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading && status_message">
  <h3>{{ status_message }}</h3>
  <p>Por favor, intenta más tarde</p>
</div>
<div *ngIf="!loading && !status_message">
  <h2>
    <b>{{ section }}</b>
  </h2>
  <br>
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card profile-card">
        <div class="profile-header">&nbsp;</div>
        <div class="profile-body">
          <div class="image-area">
            <img [src]="'http://localhost:8080/api/usuarios/getImageProfile/'+personal.genero+'/'+personal.nombre_foto"
              width="200" height="200" alt="Imagen de perfil" />
          </div>
          <div class="content-area">
            <h3>{{ personal.nombre + ' '+ personal.apellido_paterno }}</h3>
            <p>{{ personal.perfil.valor }}</p>
            <p>{{ personal.area.valor }}</p>
          </div>
        </div>
        <div class="profile-footer">
          <button class="btn btn-primary btn-lg waves-effect btn-block" data-toggle="modal"
            data-target="#modalChangeImage">CAMBIAR IMAGEN</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">MIS DATOS</a>
              </li>
              <li role="presentation">
                <a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab">CAMBIAR
                  CONTRASEÑA</a>
              </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="profile_settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 control-label">NOMBRE</label>
                    <div class="col-sm-10">
                      <div class="form-line">
                        <input type="text" class="form-control" id="nombre" name="nombre"
                          [value]="personal.nombre +' '+personal.apellido_paterno + ' ' + personal.apellido_materno"
                          disabled>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">EMAIL</label>
                    <div class="col-sm-10">
                      <div class="form-line">
                        <input type="email" class="form-control" id="Email" name="Email"
                          [value]="personal.correo_electronico" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="puesto" class="col-sm-2 control-label">PUESTO</label>
                    <div class="col-sm-10">
                      <div class="form-line">
                        <input type="text" class="form-control" id="puesto" name="puesto"
                          [value]="personal.perfil.valor" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="area" class="col-sm-2 control-label">AREA</label>
                    <div class="col-sm-10">
                      <select class="form-control" [value]="personal.area.id_area" disabled>
                        <option value="">-- SELECCIONE --</option>
                        <option *ngFor="let area of areas" [value]="area.id_area">{{ area.valor }}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="off">
                  <div class="form-group">
                    <label for="contrasenia_actual" class="col-sm-3 control-label">CONTRASEÑA ACTUAL</label>
                    <div class="col-sm-9">
                      <div class="form-line">
                        <input type="password" class="form-control" id="contrasenia_actual" name="contrasenia_actual"
                          placeholder="CONTRASEÑA ACTUAL" [(ngModel)]="contrasenias.actual" formControlName='actual'>
                      </div>
                      <small
                        *ngIf="form.controls.actual.errors?.required && (form.controls.actual?.touched || submitted)"
                        class="form-text text-muted text-validator-error">
                        Requerido
                      </small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="contrasenia_nueva" class="col-sm-3 control-label">NUEVA CONTRASEÑA</label>
                    <div class="col-sm-9">
                      <div class="form-line">
                        <input type="password" class="form-control" id="contrasenia_nueva" name="contrasenia_nueva"
                          placeholder="NUEVA CONTRASEÑA" [(ngModel)]="contrasenias.nueva" formControlName='nueva'>
                      </div>
                      <small *ngIf="form.controls.nueva.errors?.required && (form.controls.nueva?.touched || submitted)"
                        class="form-text text-muted text-validator-error">
                        Requerido
                      </small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="contrasenia_confirmacion" class="col-sm-3 control-label">NUEVA CONTRASEÑA
                      (CONFIRMAR)</label>
                    <div class="col-sm-9">
                      <div class="form-line">
                        <input type="password" class="form-control" id="contrasenia_confirmacion"
                          placeholder="NUEVA CONTRASEÑA (CONFIRMAR)" [(ngModel)]="contrasenias.confirmacion"
                          formControlName='confirmacion'>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary">CAMBIAR</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalChangeImage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">CAMBIAR IMAGEN</h5>
        </div>
        <div class="modal-body">
          <div class="container-upload">
            <div class="file-upload-wrapper">
              <div class="card card-body view file-upload">
                <div id="container-image" class="image-preview" *ngIf="preview">
                  <div class="transbox">
                  </div>
                </div>
                <div class="card-text file-upload-message" *ngIf="!preview"><i class="material-icons md-48">
                    cloud_upload
                  </i>
                  <p>Clic aquí para cargar archivo</p>
                </div>
                <input type="file" id="input-file-now" class="file_upload" (change)="seleccionImagen($event)"
                  accept="image/*">
                <div class="file-upload-preview"><span class="file-upload-render"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">CERRAR</button>
        </div>
      </div>
    </div>
  </div>