.profile-card .profile-header{
    background-color: #2B9CD5;
}

.profile-card .profile-body .content-area p:last-child {
    color: #2B9CD5;
}

.profile-card .profile-body .image-area img {
    border-color: #2B9CD5;
}
