<h2>
  <b>{{ section }}</b>
</h2>
<br>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          <small>INFORMACIÓN DETALLADA</small>
        </h2>
      </div>
      <div class="body">
        <form>
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" value="IVAN" disabled>
                  <label class="form-label">NOMBRE</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" value="IVAN" disabled>
                  <label class="form-label">APELLIDO PATERNO</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" value="IVAN" disabled>
                  <label class="form-label">APELLIDO MATERNO</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <select class="form-control" disabled>
                <option value="">-- SELECCIONE --</option>
                <option value="10">MASCULINO</option>
                <option value="20">FEMENINO</option>
              </select>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="email" class="form-control" value="IVAN" disabled>
                  <label class="form-label">CORREO ELECTRONICO</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" value="IVAN" disabled>
                  <label class="form-label">PUESTO</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input type="text" class="form-control" value="IVAN" disabled>
                  <label class="form-label">AREA</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <textarea name="description" cols="30" rows="2" class="form-control no-resize" disabled>Descripción del area</textarea>
                  <label class="form-label">DESCRIPCIÓN AREA</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>