<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading && status_message">
    <h3>{{ status_message }}</h3>
    <p>Por favor, intenta más tarde</p>
</div>
<div *ngIf="!loading && !status_message">
    <h2>
        <b>{{ section }}</b>
    </h2>
    <br>
    <div class="row clearfix">
        <!-- Basic Examples -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        QUINCENAS CREADAS
                        <small>HAZ CLIC SOBRE CADA ELEMENTO PARA VER SU CONFIGURACIÓN.</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" (click)="modalQuincena(quincena, $event)">CREAR QUINCENA</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default" *ngFor="let quincena of quincenas; let i = index">
                                    <div class="panel-heading panel-heading-custom" role="tab" id="headingOne_1"
                                        (click)="borraDias(i)">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_1"
                                                [href]="'#collapseOne_'+i" aria-expanded="true">
                                                {{ quincena.numero_quincena +' '+ quincena.id_mes.mes_descripcion +' '+quincena.id_anio.anio}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div [id]="'collapseOne_'+i" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingOne_1">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <p>
                                                        <b>HORA DE ENTRADA CON TOLERANCÍA: </b>
                                                        {{ quincena.hora_entrada }} </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <p>
                                                        <b>HORA DE SALIDA: </b> {{ quincena.hora_salida }} </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <p>
                                                        <b>HORARIO DE COMIDA: </b>
                                                        {{ quincena.hora_salida_comida +' A ' + quincena.hora_entrada_comida }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <p>
                                                        <a href="#"
                                                            (click)="consultaDiasHabiles(quincena.id_quincena, $event)">VER
                                                            DÍAS HABILES</a>
                                                    </p>
                                                    <ul *ngIf="consulta_dias">
                                                        <li *ngFor="let dia of dias_by_quincena">
                                                            {{  dia.fecha | date: 'fullDate' : 'es-MX' + '   '}}</li>
                                                    </ul>
                                                    <p *ngIf="consulta_dias">
                                                        <label>{{ 'TOTAL DÍAS HÁBILES: ' + dias_by_quincena.length }}</label>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="pull-right">
                                                        <a href="javascript:void(0);">EDITAR</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
    <div class="modal fade" id="modalQuincena" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CONFIGURACIÓN QUINCENA</h5>
                </div>
                <div class="modal-body">
                    <div id="demo">
                        <div class="step-app">
                            <ul class="step-steps">
                                <li><a id="click_reset" href="#step1">1. NOMBRE</a></li>
                                <li><a href="#step2">2. HORARIOS </a></li>
                                <li><a href="#step3">3. DÍAS HÁBILES</a></li>
                            </ul>
                            <div class="step-content">
                                <div class="step-tab-panel" id="step1">
                                    <div class="row">
                                        <br />
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control"  [(ngModel)]="quincena.numero_quincena">
                                                <option value="-1">-- QUINCENA --</option>
                                                <option value="1">PRIMERA</option>
                                                <option value="2">SEGUNDA</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control" [(ngModel)]="quincena.id_mes.id_mes">
                                                <option value="-1">-- MES --</option>
                                                <option *ngFor="let mes of meses" [value]="mes.id_mes">
                                                    {{ mes.mes_descripcion }}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control"  [(ngModel)]="quincena.id_anio.id_anio">
                                                <option value="-1">-- AÑO --</option>
                                                <option *ngFor="let anio of anios" [value]="anio.id_anio">
                                                    {{ anio.anio }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-tab-panel" id="step2">
                                    <div class="row">
                                        <br />
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <b>Hora de entrada (incluye tolerancia)</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">access_time</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="time" class="form-control time24"
                                                        placeholder="Ex: 23:59" [(ngModel)]="quincena.hora_entrada">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <b>Hora de salida</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">access_time</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="time" class="form-control time24"
                                                        placeholder="Ex: 23:59" [(ngModel)]="quincena.hora_salida">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <b>Hora salida comida</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">access_time</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="time" class="form-control time24"
                                                        placeholder="Ex: 23:59"  [(ngModel)]="quincena.hora_salida_comida">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <b>Hora regreso comida</b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">access_time</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="time" class="form-control time24"
                                                        placeholder="Ex: 23:59"  [(ngModel)]="quincena.hora_entrada_comida">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-tab-panel" id="step3">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="calendario"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-footer">
                                <button data-direction="prev" type="button"
                                    class="btn btn-primary">ANTERIOR</button>&nbsp;&nbsp;
                                <button data-direction="next" type="button" class="btn btn-primary">SIGUIENTE</button>
                                <button data-direction="finish" type="button" class="btn btn-primary" (click)="registraQuincena()">REGISTRAR</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCloseModal" type="button" class="btn btn-default" (click)="closeModal(true)">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>