.panel-default > .panel-heading-custom{
    background-color: #2B9CD5;
    color: #fff;
}

.panel-group .panel{
    border-color: #2B9CD5;
}

.step-app > .step-steps > li.done a {
    background-color: #8bc34a;
}

.step-app > .step-steps > li.active a {
    background-color: #2B9CD5;
}