<div class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">TECH-PRO</a>
            <small>SISTEMA INTERNO</small>
        </div>
        <div class="card">
            <div class="body">
                <form autocomplete="off" (ngSubmit)="recoveryPwd()">
                    <div class="msg">
                        Ingrese su correo electrónico empresarial. Le enviaremos su nueva contraseña
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email"
                                placeholder="correo_electronico@tech-pro.com.mx" autofocus
                                [(ngModel)]="correo_electronico"
                                (keypress)="keyPress($event)" >
                        </div>
                        <small class="text-validator-error">{{ mensaje_error }}</small>
                    </div>

                    <button class="btn btn-block btn-lg bg-lime waves-effect" type="submit">RESETEA MI
                        CONTRASEÑA</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a routerLink="../login">Iniciar sesión!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>