<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading && status_message">
  <h3>{{ status_message }}</h3>
  <p>Por favor, intenta más tarde</p>
</div>
<div *ngIf="!loading && !status_message">
  <h2>
    <b>{{ section }}</b>
  </h2>
  <br>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body table-responsive">
          <table id="mainTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>EMPLEADO</th>
                <th>MOTIVO</th>
                <th>STATUS</th>
                <th>AUTORIZAR</th>
                <th>¿AUTORIZÓ?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let justificacion of justificaciones; let i = index">
                <td>
                  {{ justificacion.id_personal.nombre + ' '+ justificacion.id_personal.apellido_paterno + ' ' + justificacion.id_personal.apellido_materno  }}
                </td>
                <td>{{ justificacion.motivo }}</td>
                <td [ngSwitch]="justificacion.id_estatus">
                  <i class="material-icons" *ngSwitchCase="1">hourglass_full</i>
                  <i class="material-icons" *ngSwitchCase="2">cancel</i>
                  <i class="material-icons" *ngSwitchCase="3">check_circle</i>
                </td>
                <td>
                  <div class="form-group">
                    <input type="radio" [name]="'row'+i" [id]="'si_justifica'+i" [checked]="justificacion.id_estatus == 3" class="with-gap" (change)="cambiarEstatus(3, justificacion,$event)">
                    <label [for]="'si_justifica'+i">SI</label>
                    <input type="radio"  [name]="'row'+i" [id]="'no_justifica'+i" [checked]="justificacion.id_estatus == 2" class="with-gap" (change)="cambiarEstatus(2, justificacion, $event)">
                    <label [for]="'no_justifica'+i"  class="m-l-20">NO</label>
                  </div>
                </td>
                <td> - </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>EMPLEADO</th>
                <th>MOTIVO</th>
                <th>STATUS</th>
                <th>AUTORIZAR</th>
                <th>¿AUTORIZÓ?</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>