<div class="theme-light-green">
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->

  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="index.html">TECH-PRO</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Notifications -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <i class="material-icons">notifications</i>
              <span class="label-count">7</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">NOTIFICATIONS</li>
              <li class="body">
                <ul class="menu">
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-light-green">
                        <i class="material-icons">person_add</i>
                      </div>
                      <div class="menu-info">
                        <h4>12 new members joined</h4>
                        <p>
                          <i class="material-icons">access_time</i> 14 mins ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-cyan">
                        <i class="material-icons">add_shopping_cart</i>
                      </div>
                      <div class="menu-info">
                        <h4>4 sales made</h4>
                        <p>
                          <i class="material-icons">access_time</i> 22 mins ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-red">
                        <i class="material-icons">delete_forever</i>
                      </div>
                      <div class="menu-info">
                        <h4>
                          <b>Nancy Doe</b> deleted account</h4>
                        <p>
                          <i class="material-icons">access_time</i> 3 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-orange">
                        <i class="material-icons">mode_edit</i>
                      </div>
                      <div class="menu-info">
                        <h4>
                          <b>Nancy</b> changed name</h4>
                        <p>
                          <i class="material-icons">access_time</i> 2 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-blue-grey">
                        <i class="material-icons">comment</i>
                      </div>
                      <div class="menu-info">
                        <h4>
                          <b>John</b> commented your post</h4>
                        <p>
                          <i class="material-icons">access_time</i> 4 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-light-green">
                        <i class="material-icons">cached</i>
                      </div>
                      <div class="menu-info">
                        <h4>
                          <b>John</b> updated status</h4>
                        <p>
                          <i class="material-icons">access_time</i> 3 hours ago
                        </p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <div class="icon-circle bg-purple">
                        <i class="material-icons">settings</i>
                      </div>
                      <div class="menu-info">
                        <h4>Settings updated</h4>
                        <p>
                          <i class="material-icons">access_time</i> Yesterday
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer">
                <a href="javascript:void(0);">View All Notifications</a>
              </li>
            </ul>
          </li>
          <!-- #END# Notifications -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- #Top Bar -->
  <section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
      <!-- User Info -->
      <div class="user-info">
        <div class="image">
          <img id="img-perfil-user" *ngIf="personal.genero == 1" [src]="URL_IMAGEN+'1/'+personal.nombre_foto" width="48"
            height="48" alt="User" />
          <img id="img-perfil-user" *ngIf="personal.genero == 2" [src]="URL_IMAGEN+'2/'+personal.nombre_foto" width="48"
            height="48" alt="User" />
        </div>
        <div class="info-container">
          <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ personal.nombre + ' ' + personal.apellido_paterno + ' ' + personal.apellido_materno }}</div>
          <div class="email">{{ personal.correo_electronico }}</div>
          <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
              <li>
                <a routerLink="user/perfil/">
                  <i class="material-icons">person</i>Mi perfil</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a (click)="logout($event)">
                  <i class="material-icons">input</i>Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- #User Info -->
      <!-- Menu -->
      <div class="menu">
        <ul class="list">
          <li class="header">MENÚ DE NAVEGACIÓN</li>
          <li>
            <a routerLink="/home">
              <i class="material-icons">home</i>
              <span>HOME</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">people</i>
              <span>EMPLEADOS</span>
            </a>
            <ul class="ml-menu">
              <li routerLinkActive="active">
                <a routerLink="user/empleados" class="toggled waves-effect waves-block">CONSULTA</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="attendance/quincenas" class="toggled waves-effect waves-block">
              <i class="material-icons">
                date_range
              </i>
              <span>QUINCENAS</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">access_time</i>
              <span>ASISTENCIAS</span>
            </a>
            <ul class="ml-menu">
              <li routerLinkActive="active">
                <a routerLink="attendance/report" class="toggled waves-effect waves-block">CONSULTA</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="attendance/report-admin" class="toggled waves-effect waves-block">REPORTE ADMIN</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">description</i>
              <span>JUSTIFICANTE</span>
            </a>
            <ul class="ml-menu">
              <li routerLinkActive="active">
                <a routerLink="attendance/justication/crear" class="toggled waves-effect waves-block">CREAR</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="attendance/report-justication" class="toggled waves-effect waves-block">CONSULTAR</a>
              </li>
            </ul>
          </li>
          <!-- <li class="header">LABELS</li>
              <li>
                  <a href="javascript:void(0);">
                      <i class="material-icons col-red">donut_large</i>
                      <span>Important</span>
                  </a>
              </li> -->
        </ul>
      </div>
      <!-- #Menu -->
      <!-- Footer -->
      <div class="legal">
        <div class="copyright">
          2019
          <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;XSOFT</a>.
        </div>
        <div class="version">
          <b>Version: </b> 0.1.0
        </div>
      </div>
      <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
  </section>


  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <!-- Contenido de la app-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>