<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading && status_message">
  <h3>{{ status_message }}</h3>
  <p>Por favor, intenta más tarde</p>
</div>
<div class="container-fluid" *ngIf="!loading && !status_message">
  <h2>
    <b>{{ section }}</b>
  </h2>
  <br>
  <!-- Lista de empleados -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body body-search">
          <div class="form-group form-float">
            <div class="form-line">
              <form autocomplete="off">
                <input type="text" id="search" class="form-control" [(ngModel)]="searchText"
                  [ngModelOptions]="{standalone: true}">
                <label for="search" class="form-label">BUSCAR EMPLEADO POR NOMBRE</label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let empleado of empleados | search: searchText">
      <div class="card" [@status_animation]="status_animation">
        <div class="header">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <img *ngIf="empleado.personal.genero == 1" [src]="URL_IMAGEN+'1/'+empleado.personal.nombre_foto"
                alt="foto perfil" class="avatar">
              <img *ngIf="empleado.personal.genero == 2" [src]="URL_IMAGEN+'2/'+empleado.personal.nombre_foto"
                alt="foto perfil" class="avatar">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <h2 class="">
                <a [routerLink]="'perfil/'+empleado.usuario">{{ empleado.personal.nombre +' '+ empleado.personal.apellido_paterno }}
                </a><small>{{ empleado.personal.correo_electronico }}</small>
              </h2>
              <ul class="header-dropdown m-r-0">
                <li>
                  <a href="javascript:void(0);" (click)="changeEstatusEmp(empleado)" *ngIf="permissions.activate">
                    <i
                      [ngClass]="{'material-icons':true, 'active': empleado.estatus , 'inactive': !empleado.estatus }">power_settings_new</i>
                  </a>
                  <i *ngIf="!permissions.activate"
                    [ngClass]="{'material-icons':true, 'active': empleado.estatus , 'inactive': !empleado.estatus }">power_settings_new</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="body truncate-text">
          Trabaja en el area de <b>{{ empleado.personal.area.valor }}</b> como
          <b>{{ empleado.personal.perfil.valor }}</b>
        </div>
      </div>
    </div>
  </div>
  <!-- #END# Lista de empleados -->
</div>